*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --firstcolor:#190E8E;
    --secondcolor:#4446E9;
}
body{
    background-color: #E9EFFD !important;
}
.navbar{
    background-color: transparent !important;
}
.navbar-brand{
    color:var(--firstcolor) ;
    font-size: 20px;
    font-weight:600;
}
.navbar-nav li a{
  color:var(--firstcolor)!important;
  margin-right: 30px !important;
  font-size: 15px !important;
  margin: 10px !important;
}
.navbar-nav li a:hover{
    padding: 15px 30px !important;
    color:white !important;
    background-color: var(--firstcolor) !important;
    border-radius: 30px !important;

}
.navbar-btn{
    background-color: var(--firstcolor) !important;
    color:white !important;
    border-radius: 10px !important;
    margin: 15px !important;
}
span{
    background-color: var(--firstcolor) !important;
    width: 40px !important;
    height: 6px !important;
}



.text{
    color: var(--firstcolor);
}
#list{
    list-style: none;
    line-height: 50px;
    font-size: 20px;
   
}
a{
    margin:10px;
  ;
    
}
#button{
    padding: 15px 30px;
    line-height: 50px;
    background-color: var(--firstcolor);
    border-radius: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
}